<template>
	<div>
		<div class="w-full overflow-x-auto mb-3 p-2">
			<table class="table-auto min-w-full">
				<thead>
					<tr>
						<th class="px-4 py-2 whitespace-no-wrap w-5">#</th>
						<th class="px-4 py-2 whitespace-no-wrap capitalize" v-for="(header, index) in tableDetails" :key="index">{{ header.name.replace(/_/g, ' ') }}{{ header.required ? '*' : '' }}</th>
					</tr>
					<tr>
						<th class="px-4 py-2 whitespace-no-wrap"></th>
						<th class="px-4 py-2 whitespace-no-wrap capitalize w-10" v-for="(header, index) in tableDetails" :key="index">
							<select-input class="min-w-full w-32" ref="columnSelections" @input="updateColumnMatch">
								<option v-for="(header, i) in csvHeaders" :key="i" :value="i" :selected="index == i">{{ header }}</option>
								<option value="setDefaultValue">Set default value</option>
							</select-input>
						</th>
					</tr>
					<tr v-show="columnMatch.indexOf('setDefaultValue') != -1">
						<th class="px-4 py-2 whitespace-no-wrap"></th>
						<th class="px-4 py-2 whitespace-no-wrap capitalize w-10" v-for="(column, index) in columnMatch" :key="index">
							<input v-show="column == 'setDefaultValue'" ref="defaultValues" @input='updateDefaultValues' type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Default Value">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(row, rowIndex) in visibleRows" :key="rowIndex" 
						:class="rowClasses(row, rowIndex)">
						<td class="border px-4 py-2 whitespace-no-wrap">{{ (activePage - 1) * rowPerPage + rowIndex + 1 }}</td>
						<td class="border px-4 py-2 whitespace-no-wrap" v-for="(column, columnIndex) in tableDetails" :key="columnIndex">{{ row[column.name] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="flex justify-between items-center">
			<p class="text-gray-700">
				{{ csvObjects.length }} rows found.
			</p>
			<div v-if="failedRecords || succeededRecords" class="flex flex-col justify-center items-center">
				<p v-if="succeededRecords" class="text-green-500 my-1">{{ succeededRecords }} rows has been successfully inserted.</p>
				<p v-if="failedRecords" class="text-red-500 my-1">{{ failedRecords }} rows has failed. <a href="#results" class="underline hover:text-red-700">Please see the results.</a></p> 
			</div>
			<div>
				<button @click='previousPage' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
					Previous
				</button>
				<span class="mx-3 text-gray-700">
					{{ activePage }}/{{ totalPages }}
				</span>
				<button @click='nextPage' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
					Next
				</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props:{
		failedRecords: {
			type: Number,
		},
		succeededRecords: {
			type: Number,
		},
		tableDetails: {
			type: Array,
			required: true
		},
		csvHeaders: {
			type: Array,
			required: true
		},
		csvObjects: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			activePage: 1,
			rowPerPage: 10,
			columnMatch: [],
			defaultValues: [],
		}
	},
	computed: {
		totalPages() {
			return Math.ceil(this.csvObjects.length/this.rowPerPage);
		},
		visibleRows() {
			let from = (this.activePage - 1) * this.rowPerPage;
			let to = (this.activePage * this.rowPerPage);
			return this.csvObjects.slice(from, to);
		}
	},
	methods: {
		nextPage() {
			if(this.activePage < this.totalPages) this.activePage ++;
			else this.activePage = 1;
		},
		previousPage() {
			if(this.activePage > 1) this.activePage --;
			else this.activePage = this.totalPages;
		},
		updateColumnMatch() {
			this.columnMatch = this.$refs.columnSelections.map(columnSelection => {
				return columnSelection.$refs.select.value;
			})
			this.$emit('update:column-match', this.columnMatch);
		},
		updateDefaultValues() {
			this.defaultValues = this.$refs.defaultValues.map(defaultValue => {
				return defaultValue.value;
			})
			this.$emit('update:default-values', this.defaultValues);
		},
		rowClasses(row, rowIndex) {
			let classes = [];

			if(row.dbStatus === 'success') {
				if(rowIndex%2){
					classes.push('bg-teal-200')
				} else {
					classes.push('bg-teal-100')
				}
			} else if(row.dbStatus === 'error') {
				if(rowIndex%2){
					classes.push('bg-red-400')
				} else {
					classes.push('bg-red-300')
				}
			} else if(rowIndex%2) {
				classes.push('bg-gray-100')
			}

			return classes;
		}
	},
	watch: {
		csvObjects() {
			this.activePage = 1;
		}
	}
}
</script>