<template>
	<div>
		<label class="flex justify-start items-center text-gray-500 font-bold">
			<input class="leading-tight mr-2" type="checkbox"
				:name="name" 
				:id="name"
				:required="required"
				v-model="value"
				@change="$emit('input', value)">
			<span class="text-sm">
				<slot></slot>
			</span>
		</label>
		<p v-if="hasError" class="text-red-500 text-xs italic">{{ hasError }}</p>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		required: {
			type: Boolean,
			default: false
		},
		error: {
			type: [Boolean, String],
			default: false
		}
	},
	data() {
		return {
			value: true,
		}
	},
	computed: {
		hasError() {
			if(this.error) return this.error;
			
			return false;
		}
	},
	mounted() {
		this.$emit('input', this.value)
	}
}
</script>