<template>
	<div class="relative">
		<label class="block text-gray-700 text-sm font-bold mb-2" :for="name">
			{{ label }}
		</label>
		<label 
			:for="name" 
			class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight file-input-placeholder"
			:class="hasError ? 'border-red-500' : ''">
			<span class="block truncate" 
				:class="fileName ? 'text-gray-700' : 'text-gray-500'"
				:title="fileName ? fileName : placeholder">
				{{ fileName ? fileName : placeholder }}
			</span>
		</label>
		<input type="file" class="hidden"
			@change = 'onFileChange'
			:id="name" 
			:name="name"
			:required="required">
		<p v-if="hasError" class="text-red-500 text-xs italic">{{ hasError }}</p>
	</div>
</template>

<script>
    export default {
		props: {
			name: {
				type: String,
				required: true
			},
			label: {
				type: String,
				required: true
			},
			placeholder: {
				type: String,
				required: true
			},
			required: {
				type: Boolean,
				default: false
			},
			error: {
				type: [Boolean, String],
				default: false
			}
		},
		data() {
			return {
				fileName: '',
				fileExt: '',
			}
		},
		computed: {
			hasError() {
				if(this.error) return this.error;
				
				const supportedExtentions = ['csv', 'tsv']
				if(this.fileExt && supportedExtentions.indexOf(this.fileExt) === -1) return 'Please provide a .csv or a .tsv file.';
					
				return false;
			}
		},
		methods: {
			onFileChange(e) {
				let fileData = e.target.files[0];
				
				if(fileData) {
					this.fileExt = fileData.name.split('.').pop();
					this.fileName = fileData.name;
				} else {
					this.fileName = '';
					this.fileExt = '';
				}

				this.$emit('changed', this.hasError ? null : fileData);
			}
		}
    }
</script>